@helvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

body {
	font-family: @helvetica;
}

.screen {
	width: 100%;
	height: 100%;
	display: table;
	border-bottom: 1px #ccc solid;
}

.masthead {
	display: table-cell;
	vertical-align: middle;
	background-color: #eee;

	text-align: center;

	h1 {
		font-family: @helvetica;
		color: #555;
		font-size: 72pt;
		font-weight: normal;
		line-height: 0px;
		margin: 45px;
	}
}
